<nav class = "navbar  navbar-inverse navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navTag">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navTag">
        <ul class="navbar-nav ml-auto">
        <li class="nav-item" > <a class="nav-link" routerLink="/homePage"        	  id="navItem"    >  Home         </a> </li> 
        <li class="nav-item" > <a class="nav-link" routerLink="GET/posts"        	  id="navItem"    >  User List         </a> </li>
        <li class="nav-item " > <a class="nav-link"  routerLink="POST/posts"         id="navItem"     > Register	           </a> </li>
        </ul>
      </div>
    </div>
  </nav>