<header>
  <h1><strong>Home</strong></h1>	
</header>

<section>
<br>

<h6><strong>Welcome to The Demo Json Website - Designed for Assignment 7</strong></h6>  
<br>
<h1>About the Website</h1>
<br>
<p><strong>There are three main Section in the website</strong></p>
<ul>
<li> <strong>Home Section:</strong> This section gives an detailed overview of the Website</li>
<li> <strong>User List   :</strong> This section illustrates the GET HTTP request which retrieves all the users and DELETE HTTP request which deletes a particular
user</li> 
<li><strong> Register : </strong> This section illustrates the POST HTTP request which is used to add user details to the Json server.
</ul>
</section>


<article>
  <br>
<h1> Hidden Sections</h1>
<hr>
<p> <strong>There are two hidden sections in the website</strong></p>
<ul>
<li><strong>Hidden Section #1 : </strong> This section is used to illustrate GET/Posts/1 the read only operation and will be launched on click of data in Id Column of User List Section </li>
<li><strong>Hidden Section #2 : </strong> This section is used to illustrate PUT/posts/1 the update request and will be launched on click of Edit button in Update column of User List section .Also Id field is read only. Id field is to ensure that there no update is made for invalid id and to ensure info of user selected is only updated</li>
<br>
</ul>

<p><strong>Toaster Service is integrated to show neccessary notifications</strong> </p>
</article>


       <footer>
   
                    <div class="container-fluid padding">
                    <div class="row padding text-center">
                      <div class="col-md-4">
                          <hr class="hrTag">
                          <h5> Author </h5>
                        <hr class="hrTag">
                        <p>Prasad Pai</p>
                        <p>prashadmaroor12@gmail.com</p>
                      </div>
                      <div class="col-md-4">
                          <hr class="hrTag">
                          <h5>Working Days</h5>
                          <hr class="hrTag">
                          <p><strong>Monday-Friday:</strong> Open</p>
                          <p><strong>Saturday-Sunday:</strong> Closed</p>
                        </div>
                        <div class="col-md-4">
                            <hr class="hrTag">
                            <h5>Work Locations</h5>
                            <hr class="hrTag">
                            <p>Mangaluru</p>
                            <p>Kolkata</p>
                          </div>
                          <div class="col-12">
                              <hr class="hrTag">
                              <p>&copy; CopyRight 2018</p>
                              <hr class="hrTag">
                            </div>
                </div>
                </div>
  </footer>