<header>
  <h1><strong>User  Biography for User Id : {{data?.userId}}</strong></h1>	
</header>

<br>

<ul>
<li><strong>User Id:</strong>{{data?.userId}}</li>
<li><strong>Id:</strong>{{data?.id}}</li>
<li><strong>Title:</strong>{{data?.title}}</li>
<li><strong>Body:</strong>{{data?.body}}</li>
</ul>



<br>


		
		
<footer>
  <div class="container-fluid padding">
  <div class="row padding text-center">
    <div class="col-md-4">
        <hr class="hrTag">
        <h5> Author </h5>
      <hr class="hrTag">
      <p>Prasad Pai</p>
      <p>prashadmaroor12@gmail.com</p>
    </div>
    <div class="col-md-4">
        <hr class="hrTag">
        <h5>Working Days</h5>
        <hr class="hrTag">
        <p><strong>Monday-Friday:</strong> Open</p>
        <p><strong>Saturday-Sunday:</strong> Closed</p>
      </div>
      <div class="col-md-4">
          <hr class="hrTag">
          <h5>Work Locations</h5>
          <hr class="hrTag">
          <p>Mangaluru</p>
          <p>Kolkata</p>
        </div>
        <div class="col-12">
            <hr class="hrTag">
            <p>&copy; CopyRight 2018</p>
            <hr class="hrTag">
          </div>
</div>
</div>
</footer>              